<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display&display=swap" rel="stylesheet">
    <title>minimø</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<main>
    <br>

    {{title}}
    <form action="/home" method="post">
        <p>Enter your loggin:</p>
        <input type="text" name="name" placeholder="Enter login: ">
        <p>Enter your password:</p>
        <input type="text" name="password" placeholder="Enter password: ">
        <input type="submit" value="Увійти">
        <input type="submit" value="Увійти">
        <input type="submit" value="Увійти">
        <input type="submit" value="Увійти">
    </form>

</main>
</body>
</html>